on:
  push:
    paths:
      - Dockerfile
      - router.yaml
      - .github/workflows/test.yaml
      - .github/workflows/supergraph.graphql
jobs:
  test:
    name: Smoke test Router
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Build Docker image
        run: docker build -t runtime .
      - name: Run Router
        run: docker run -d --name runtime -p 4000:4000 -v ./.github/router.yaml:/config/router_config.yaml -v ./.github/workflows/supergraph.graphql:/config/schema.graphql runtime
      - name: Wait for Router to start
        run: sleep 5
      - name: Test Router
        run: |
          curl http://localhost:4000 -d '{"query": "query{__typename}"}' -H "Content-Type: application/json"
